@import './css-shared/variables.css';
@import './css-shared/global.css';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0 0 2em 0;
}

.table {
  border-collapse: collapse;
}

.tableHeader {
  background-color: var(--lightGrey);
}
